<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
  <h1>What is the Fragile States Index?</h1>
  It's a report on the sovereign states recognized by the United Nations and aims to assess each state's vulnerability to conflict or collapse.
  It's published every year by the UN think tank, the Fund for Peace, and the magazine <i>Foreign Policy</i>.
  It ranks each state where there is enough data to perform the analyis.
  <br>
  <h1>How is the the Fragile States Index created?</h1>
  
  </body>
</html>
