<html>
  <head>
    <title>Main</title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  </head>
  <body>
    <svg style="border-style: double;" id="scroll" width = "1400" height = "75" xmlns="http://www.w3.org/2000/svg"></svg><br>
    <hr>
    <svg style="border-style: dashed;" id="display" width = "1400" height = "615" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <mask maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox" id="flagMask">
          <circle cx="0.5" cy="0.5" r="0.475" fill="white">
        </mask>
      </defs>
      <image xlink:href="http://www.geognos.com/api/en/countries/flag/US.png" width="500" height="500" preserveAspectRatio="none" class="flag">
    </svg><br>
    
    <br>
    <button id="clear">Clear canvas</button>
    <script type="text/javascript" src="../static/app.js"></script>
  </body>
</html>
